apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: expense
  labels: 
    app: frontend
    tier: web
    purpose: deployment
spec:
  replicas: {{ .Values.deployment.replicas}} #assume this changes
  selector:
    matchLabels:
      app: frontend
      tier: web
      purpose: deployment
  template:
    metadata:
      labels:
        app: frontend
        tier: web
        purpose: deployment
    spec:
      containers:
      - name: nginx
        image: nginx:{{ .Values.deployment.imageVersion}} #assume image version changes
        ports: 
        - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: nginx-np
spec:
  type: NodePort
  selector:
    app: frontend
    tier: web
    purpose: deployment
  ports:
    - protocol: TCP
      port: 80
      targetPort: 30007
